<div class="row">
  <div class="col-5">
    <h2>Create new wallets</h2>
    <div class="create-wallet-form">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="newWallet.title">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="newWallet.description">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Balance</mat-label>
        <input matInput [(ngModel)]="newWallet.balance">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Currency</mat-label>
        <input matInput [(ngModel)]="newWallet.currency">
      </mat-form-field>

      <button mat-flat-button color="primary" (click)="createWallet()">Create wallet</button>
    </div>

  </div>


  <div class="col-7">
    <h2>Your wallets</h2>

    <div id="list-wallets">
      <div *ngFor="let wallet of wallets">
        <mat-card class="single-wallet">
          <mat-card-title>{{wallet.title}}</mat-card-title>

          <mat-card-content>
            <p>{{wallet.description}}</p>
            <p>Balance: {{wallet.balance}} {{wallet.currency}}</p>
          </mat-card-content>

          <mat-card-footer>
            <button mat-flat-button color="primary" routerLink="/wallets/{{wallet.id}}">View</button>
            &nbsp;
            <button mat-flat-button color="warn" (click)="deleteWallet(wallet.id!)">Delete</button>
          </mat-card-footer>
        </mat-card>
        <p></p>
      </div>
    </div>

    <mat-paginator
      (page)="onPageChange($event)"
      [length]="totalItems"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="[5, 10, 25, 100]"
      [pageSize]="pageSize"
      aria-label="Select page">
    </mat-paginator>
  </div>
</div>


